Settings/Schema/Settings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DynDNSClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Username">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="IsEncrypted"/>
                    <xs:element type="xs:string" name="Value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Password">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="IsEncrypted"/>
                    <xs:element type="xs:string" name="Value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DnsEntry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>